html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.node {
    stroke: #000;
    stroke-width: 4px;
}

.link {
    stroke: #999;
    stroke-opacity: 0.8;
    stroke-width: 4px;
}

#graph {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #f9f9f9 0%, #ffb0d4 100%);
    background-position: 25% 50%;
}

.node text {
    font-family: Arial, sans-serif;
    font-size: 11px;
    font-weight: normal;
    fill: #000;
    text-anchor: middle;
    pointer-events: none;
    stroke-width: 0;
}

.CONTROL-node {
    fill: #fff;
    stroke: none;
    stroke-width: 2px;
}

.node text.CONTROL-label {
    font-family: Arial, sans-serif;
    font-size: 26px;
    font-weight: normal;
    fill: #000;
    text-anchor: middle;
    alignment-baseline: central;
    pointer-events: none;
}

.policy-node {
    fill: white;
    /* Dark blue */
    stroke: #7c02ca;
}

.policy-link {
    stroke-dasharray: 8, 4;
    /* Creates dashed line pattern */
}

.policy-label {
    font-size: 12px;
    text-anchor: middle;
    fill: #333;
}

.risk-label {
    font-family: Arial, sans-serif;
    font-size: 11px;
    font-weight: normal;
    letter-spacing: 0.5px;
}

#title {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: center;
}

.CONTROL-arc {
    fill: none;
}

.node.highlighted {
    filter: drop-shadow(0 0 10px rgba(255, 255, 0, 0.8));
}